<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <title>
    <%= name %>
  </title>
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Express Demo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">ホーム</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rand">Random</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/r/soccer">Soccer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/r/chickens">Chickens</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/r/newsokur">ニュー速</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <h1>
    <%= name %> subredditのページ
  </h1>
  <section class="container">
    <p>
      subscribers : <%= subscribers %>
    </p>
    <h2>
      description
    </h2>
    <p>
      <%= description %>
    </p>

    <% for(let post of posts){ %>
    <article>
      <p><%= post.title %> - <b><%= post.author %></b></p>
      <% if(post.img){ %>
      <img src="<%= post.img %>" alt="">
      <% } %>
    </article>
    <% } %>
  </section>

  <script src="/js/bootstrap.min.js"></script>
  <!-- <script src="/js/bootstrap.min.js.map"></script> -->
</body>

</html>